.jigsaw-puzzle {
    width: 38%;
    height: 38%;
    border: 2px solid white;
    margin: auto;
    box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.25);
}

/* for the heading  */
.tag {
    text-align: center;
    color: green;
    margin: 2rem;
}